<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        {% load static %}
        <link rel="stylesheet" href="{% static 'Favorite_Books_app/style.css' %}">
    </head>
    <body>
        <div>
            <h1>Registration</h1>
            <form action='/register' method='post'>
                {% csrf_token %}
                <p>First Name</p><input name="first_name"><br />
                <p>Last Name</p><input name="last_name"><br />
                <p>Email</p><input name="email"><br />
                <p>Birthday</p><input type="date" name="birthday"/><br/>
                <p>Password</p><input name="password"><br />
                <p>Confirm PW</p><input name="password_confirm"><br />
                <button type='submit'>Register!</button>
            </form>
            {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                    <li {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                {% endfor %}
            </ul>
            {% endif %}
        </div>
        <div>
            <form action='/success' method='post'>
                {% csrf_token %}
                <h1>Login</h1>
                <p>Email<input name="email_login"></p><br />
                <p>Password<input name="password_login"></p><br />
                <button type='submit'>Log In!</button>
            </form>
        </div>
    </body>
</html>
