<!DOCTYPE html>
<html>
    <head></head>
    <body>
        <style>
          *{
            text-align: center;
            }
        </style>
        <h1>Welcome to the Great Number Game</h1>
        <p>I am thinking of a number between 1 and 100</p>
        <p>Take a guess</p>
        <p>You already guess {{how_many_time_guess}} times</p>
        {% if color!="green" and color!="yellow" %}
            <h2 style="background-color:{{color}}; border:2px solid black; width:300px; height:160px; color:white; padding-top:140px;margin:0 auto;">{{feed_back}}</h2>
            <form action='/' method='post'>
                <p>how may: <input type="text" name="guess"/></p>
                <input type='submit'/>
            </form>
        {% endif %}
        {% if color=="green"%}
            <h2 style="background-color:{{color}}; border:2px solid black; width:300px; height:160px; color:white; padding-top:140px;margin:0 auto;">{{feed_back}}
            <form action='/destroy_session'>
                <input type='submit'value="Play again!" style="padding:20px;background-color:white;margin-top:20px;border:2px solid black;font-weight:bold;"/>
            </form>
            </h2>
        {% endif %}
        {% if color=="yellow"%}
            <h2 style="background-color:{{color}}; border:2px solid black; width:300px; height:160px; color:white; padding-top:140px;margin:0 auto;">{{feed_back}}
            <form action='/destroy_session'>
                <input type='submit'value="Play again!" style="padding:20px;background-color:white;margin-top:20px;border:2px solid black;font-weight:bold;"/>
            </form>
            </h2>
        {% endif %}
    </body>
</html>
