.blue_underline{
    margin-top: 20px;
    border: 0px;
    background-color: transparent;
    color: blue;
    text-decoration:underline;
    font-weight: bold;
}
h1{
    margin-top: 20px;
    margin-bottom: 20px;
}
body{
    margin-left: 50px;
    margin-right: 50px;
}
table{
    text-align: center;
    border: 2px solid black;
}
th{
    text-align: center;
    border-left: 2px solid black;
}
td{
    text-align: center;
    border-left: 2px solid black;
}
