#box{
    padding: 100px;
    padding-top: 50px;
    padding-right: 500px;
    margin: 200px;
    margin-top: 50px;
    border: 2px solid black;
    font-size: xx-large;
}
input{
    border: 2px solid black;
    font-size: xx-large;
}
select{
    border: 2px solid black;
    font-size: xx-large;
}
#comment{
    border: 2px solid black;
    width: 1000px;
    height: 300px;
    margin-right: 50px;
}
#submit{
    margin-left: 890px;
    background-color: #76a5af;
    color: white;
}
table{
    margin-left: 50px;
}
h1{
    font-weight: bold;
}
