<!DOCTYPE html>
<html>
    <head></head>
    <body>
        <h1>Counter<h1>
        <p>{{how_many_time}} times</p>
        <p> really: {{how_many_time_real}} times</p>
        <form action='/' method='post'>
            <button name='adnum' value="2">+2</button>
            <button name='adnum' value="3">+3</button>
            <button name='adnum' value="1">destroy_session</button>
            <p>how may: <input type="text" name="adnum"/></p>
            <input type='submit'/>
        </form>
    </body>
</html>
