<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        {% load static %}
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link rel="stylesheet" href="{% static 'Belt_test_app/style1.css' %}">
    </head>
    <body>
        <h1>Welcome, {{username}}</h1>
        <form action='/logout' method='post'>
            {% csrf_token %}
            <button type='submit' class="blueuderline">Logout!</button>
        </form>
        <form action='/new' method='post'>
            {% csrf_token %}
            <button type='submit' class="normal_button">Create a new trip!</button>
        </form>
        <div>
            <p>Your trips</p>
            <table class="table table-striped">
              <thead>
                <tr>
                  <th scope="col">Destination</th>
                  <th scope="col">Start_date</th>
                  <th scope="col">End date</th>
                  <th scope="col">Plan</th>
                  <th scope="col">Actions</th>
                </tr>
              </thead>
              <tbody>
                  {% for trip in this_users_trips %}
                    <tr>
                      <td class="blueuderline">
                          <form action='/trips/{{trip.id}}' method='post'>
                          {% csrf_token %}
                          <button type='submit' class="blueuderline2">{{trip.Destination}}</button>
                          </form>
                      </td>
                      <td>{{trip.start_at}}</td>
                      <td>{{trip.end_at}}</td>
                      <td>{{trip.plan}}</td>
                      <td>
                        <form action='/remove/{{trip.id}}' method='post' class="form_in_line">
                        {% csrf_token %}
                        <button type='submit' class="blueuderline2">Remove</button>
                        </form>
                        <p class="line_L">|</p>
                        <form action='/edit/{{trip.id}}' method='post' class="form_in_line2">
                        {% csrf_token %}
                        <button type='submit' class="blueuderline2">Edit</button>
                        </form>
                      </td>
                    </tr>
                    {% endfor %}
                    {% for trip in this_users_trips_go %}
                      <tr>
                        <td class="blueuderline">
                            <form action='/trips/{{trip.id}}' method='post'>
                            {% csrf_token %}
                            <button type='submit' class="blueuderline2">{{trip.Destination}}</button>
                            </form>
                        </td>
                        <td>{{trip.start_at}}</td>
                        <td>{{trip.end_at}}</td>
                        <td>{{trip.plan}}</td>
                        <td>
                          <form action='/cancel/{{trip.id}}' method='post' class="form_in_line">
                              {% csrf_token %}
                              <button type='submit' class="blueuderline2">Cancel</button>
                          </form>
                        </td>
                      </tr>
                      {% endfor %}
              </tbody>
            </table>
        </div>
        <div>
            <p>Other people's trips</p>
            <table class="table table-striped">
              <thead>
                <tr>
                  <th scope="col">Destination</th>
                  <th scope="col">Start_date</th>
                  <th scope="col">End date</th>
                  <th scope="col">Plan</th>
                  <th scope="col">Want to join?</th>
                </tr>
              </thead>
              <tbody>
                  {% for trip in other_trips %}
                    {% if this_user not in trip.users_who_go.all %}
                        <tr>
                          <td class="blueuderline">
                              <form action='/trips/{{trip.id}}' method='post'>
                              {% csrf_token %}
                              <button type='submit' class="blueuderline2">{{trip.Destination}}</button>
                              </form>
                          </td>
                          <td>{{trip.start_at}}</td>
                          <td>{{trip.end_at}}</td>
                          <td>{{trip.plan}}</td>
                          <td>
                            <form action='/join/{{trip.id}}' method='post' class="form_in_line">
                                {% csrf_token %}
                                <button type='submit' class="blueuderline2">Join</button>
                            </form>
                          </td>
                        </tr>
                        {% endif %}
                    {% endfor %}
              </tbody>
            </table>
        <div>
    </body>
</html>
