<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        {% load static %}
        <link rel="stylesheet" href="{% static 'Belt_test_app/style2.css' %}">
    </head>
    <body>
        <h1>Welcome {{username}}! Create a new trip!</h1>
        <form action='/logout' method='post' class="log_out_b">
            {% csrf_token %}
            <button type='submit' class="blueuderline">Logout!</button>
        </form>
        <br/>
        <div class="plan_add">
            {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                    <li {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                {% endfor %}
            </ul>
            {% endif %}
            <form action='/create_trip' method='post'>
                {% csrf_token %}
                <table align="center">
                    <tr><td>Desination</td><td><input name="Desination_add"></td></tr>
                    <tr><td>Start date</td><td><input type="date" name="Start_date_add"></td></tr>
                    <tr><td>End date</td><td><input type="date" name="End_date_add"></td></tr>
                    <tr><td>Plan</td><td><input type="text" name="Plan_add"></td></tr>
                </table>
                <button type='submit' class="normal_button">Submit</button>
            </form>
            <form action='/dashboard' method='post' class="can_bu">
                {% csrf_token %}
                <button type='submit' class="normal_button">Cancel</button>
            </form>
        </div>
    </body>
</html>
