<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    </head>
    <body>
        <p id = "g1">Your Gold:</p>
        <p id = "g2">{{gold_amount}}</p>
        <br />
        <form action="/process_money" method="post">
            <h1>Farm
                <p>(earns 10-20 golds)</p>
                <input type="hidden" name="building" value="farm" />
                <input type="submit" value="Find Gold!" class="find_gold"/>
            </h1>
        </form>
        <form action="/process_money" method="post">
            <h1>Cave
                <p>(earns 5-10 golds)</p>
                <input type="hidden" name="building" value="cave" />
                <input type="submit" value="Find Gold!" class="find_gold"/>
            </h1>
        </form>
        <form action="/process_money" method="post">
            <h1>House
                <p>(earns 2-5 golds)</p>
                <input type="hidden" name="building" value="house" />
                <input type="submit" value="Find Gold!" class="find_gold"/>
            </h1>
        </form>
        <form action="/process_money" method="post">
            <h1>Casino
                <p>(earns/takes 0-50 golds)</p>
                <input type="hidden" name="building" value="casino" />
                <input type="submit" value="Find Gold!" class="find_gold"/>
            </h1>
        </form>
        <p id= "act_p">Activities</p>
        <div id="act_box">
            {% for i in range(list_len,0,-1) %}
                <p style="color:{{color[i]}}">{{player_activities_list[i]}}</p>
            {% endfor %}
        </div>
        <a href="/destroy_session">
            <button>Restart</button>
        </a>
    </body>
</html>
